@import '../../common';

.ProductsGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-gap: $spacer;

  &__item-placeholder{
    background: white;
    box-shadow: $card-shadow;
    padding: $spacer*1.2 $spacer;

    &::before{
      content: '';
      background: $background;
      height: 1.5em;
      width: 80%;
      display: block;
      margin: 0 auto 2em;
    }

    &::after{
      content: '';
      background: $background;
      height: 7em;
      width: 7em;
      display: block;
      margin: 0 auto;
    }
  }
}