// colors
$background: #f7f7f7;
$gray-dark: #2e2e2e;
$primary: #f62f5e;

// sizes
$spacer: 25px;

// general
$card-shadow: 0px 1px 2px fade-out(black, .8);
$card-shadow-hover: 0px 6px 25px fade-out(black, .6);