@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Playfair+Display:700');

@import 'common';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat';
  font-weight: bold;
}

html{
  scroll-behavior: smooth;
}

.Button{
  background-color: $primary;
  color: white;
  padding: .4em .8em;
  text-decoration: none;
  border-radius: 1em;
  border: none;
  transition: background-color .2s ease;

  &:hover{
    background-color: darken($primary, 20%);
  }

  &--rect{
    border-radius: .3em;
  }

  &--light{
    background-color: $background;
    color: $gray-dark;
  }
}