@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Playfair+Display:700');

@import 'common';

body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat';
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.Text-Style {
  font-family: 'Playfair Display';
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #2e2e2e;
}

.Button{
  background-color: $primary;
  color: white;
  padding: .4em .8em;
  text-decoration: none;
  border-radius: 1em;
  border: none;
  transition: background-color .2s ease;

  &:hover{
    background-color: darken($primary, 20%);
  }
}