@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Playfair+Display:700');

body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat';
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.Text-Style {
  font-family: 'Playfair Display';
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #2e2e2e;
}