.SearchInput{
  height: 100%;
  width: 100%;
  position: relative;
  color: white;
  text-align: right;
}
.SearchInput.active input{
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;  
}
.SearchInput input{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  padding: 0 0 0 30px;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: width .5s ease, background-color .3s ease;
}
.SearchInput input:hover{
  background-color: rgba(255, 255, 255, 0.5);
}
.SearchInput input::placeholder{
  color: white;
}
.SearchInput__addon{
  background: none;
  border: none;
  height: 100%;
  padding: 3px 5px 0px;
  position: absolute;
  top: 0;
}
.SearchInput svg{
  fill: white;
}
.SearchInput__addon--open{
  left: calc(100% - 32px);
  pointer-events: none;
  z-index: 2;
  transition: left .5s ease;
}
.SearchInput.active .SearchInput__addon--open{
  left: 0px;
}
.SearchInput__addon--open svg{
  height: 90%;
}
.SearchInput__addon--close{
  opacity: 0;
  right: 0;
  z-index: 0;
}
.SearchInput__addon--close svg{
  height: 70%;
}